body{
    background-color: black;
}

h1{
    color: white;
}

.ball{
    text-align: center;
    font-size: 22px;
    font-weight: bold;

    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blanchedalmond;
}